html, body {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
}

.topbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 1300px;
    height: 70px;
}

#mainevents {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(174, 153, 97);
    margin-left: 100px;
    margin-top: 30px;
    display: inline-block;
}

#home {
    margin-left: 700px;
}

.menuOption {
    background-color: white;
    border: 0;
    padding-right: 30px;
}

a {
    color: black;
    text-decoration:none;
    font-size: 9px;
}

#home {
    color: rgb(104, 90, 49);
}

.parallaxImage2, .parallaxImage3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.parallaxImage3 {
    background-image: url("images/image3.png");

    height: 750px;
    width: 1300px;

    object-fit: cover;

    /* text */
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: xx-large;
    letter-spacing: 0.5em;
    text-align: center;
}

#creatingMemories {
    padding-top: 250px;
}

.container {
    background-color: white;
    padding: 50px 0px 50px 0px;
}

.services {
    background-image: url("images/flower.png");
    height: 70vh;
    width: 27vw;
    background-position: center;
    margin-right: 5vw;

    /*text*/
    align-items: center;
    color: white;
    text-align: center;
}

.title {
    margin-top: 15vh;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.75em;
    font-size: large;
}

.info {
    margin-top: 15vh;
    font-family: 'EB Garamond', serif;
    font-size: larger;
    letter-spacing: 0.15em;
    line-height: 2;
}

.discover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 1.5vh 5vw 1.5vh 5vw;
    margin-top: 7vh;

    /* text */
    text-align: center;
    color: white;
    font-size: small;
}

.image1 {
    width: 45vw;
    height: 70vh;
}

.testimonial {
    align-items: center;
    margin-top: -5vh;
}

#quote {
    font-family: 'Ruge Boogie', cursive;
    font-size: 100px;
}

#editText {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    margin-top: -20vh;
    text-align: center;
    letter-spacing: 0.2em;
}

#names {
    font-family: 'Roboto', sans-serif;
    color: rgb(174, 153, 97);
    margin-bottom: 20vh;
    font-weight: bolder;
}

.parallaxImage2 {
    background-image: url("images/image2.png");

    height: 80vh;
    width: 85vw;

    /* parallax scrolling effect */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
}

.gallery {
    background-image: url("images/flower.png");
    height: 70vh;
    width: 27vw;
    background-position: center;
    margin-right: 5vw;

    /*text*/
    color: white;
    text-align: center;
}

.bottombar {
    background-color: rgb(171, 148, 91);
    
    width: 85vw;
    height: 10vh;

    margin: 10vh 30vw 10vh 30vw;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;

    /* text */
    color: white;

}

.contact {
    margin-left: 5vw;
}

.address, .telephone, .copyright {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: smaller;
    margin-left: 2vw;
    margin-right: 2vw;
}


.line {
    border-left: 1px solid white;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    height: 60px;
}

.consult {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;

    margin-right: 10vw;
    padding: 2vh 2vw 2vh 2vw;

    /* text */
    text-align: center;
    color: white;
    font-size: small;
}