html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 1300px;
    height: 70px;
}

#mainevents {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(174, 153, 97);
    margin-left: 100px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

.menuOption {
    background-color: white;
    border: 0;
    padding-right: 30px;
}

a {
    color: black;
    text-decoration:none;
    font-size: 10px;
}

#home {
    color: rgb(104, 90, 49);
}

.parallaxImage2, .parallaxImage3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.parallaxImage3 {
    background-image: url("images/image3.png");

    height: 750px;
    width: 1300px;

    object-fit: cover;

    /* text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: xx-large;
    letter-spacing: 0.5em;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 50px 0px 50px 0px;
}

.services {
    background-image: url("images/flower.png");
    height: 500px;
    width: 350px;
    background-position: center;
    margin-right: 100px;

    /*text*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.title {
    margin-top: 100px;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.75em;
    font-size: large;
}

.info {
    margin-top: 75px;
    font-family: 'EB Garamond', serif;
    font-size: larger;
    letter-spacing: 0.15em;
    line-height: 2;
}

.discover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 10px 50px 10px 50px;
    margin-top: 20px;

    /* text */
    text-align: center;
    color: white;
    font-size: small;
}

.image1 {
    margin-right: 25px;
    height: 500px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
}

#quote {
    font-family: 'Ruge Boogie', cursive;
    font-size: 100px;
}

#editText {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    margin-top: -150px;
    text-align: center;
    letter-spacing: 0.2em;
}

#names {
    font-family: 'Roboto', sans-serif;
    color: rgb(174, 153, 97);
    margin-bottom: 100px;
    font-weight: bolder;
}

.parallaxImage2 {
    background-image: url("images/image2.png");

    height: 650px;
    width: 1040px;

    /* parallax scrolling effect */ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.gallery {
    background-image: url("images/flower.png");
    height: 500px;
    width: 350px;
    background-position: center;
    margin-right: 85px;
    /*text*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.bottombar {
    background-color: rgb(171, 148, 91);
    
    width: 1040px;
    height: 80px;

    margin: 50px 30px 50px 30px;
    padding-top: 50px;
    padding-bottom: 50px;

    /* text */
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    align-items: flex-start;
}

.address, .telephone, .copyright {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: smaller;
    margin-left: 30px;
    margin-right: 10px;
}


.line {
    border-left: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 60px;
}

.consult {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;

    margin-right: 150px;
    padding: 10px 10px 10px 10px;

    /* text */
    text-align: center;
    color: white;
    font-size: small;
}