html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
}

#mainevents {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(174, 153, 97);
    padding-left: 5vw;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2vw;
}

.menuOption {
    background-color: white;
    border: 0;
    padding-right: 3vw;
    padding-left: 1vw;
}

a {
    color: black;
    text-decoration:none;
    font-size: 9px;
}

#home {
    color: rgb(104, 90, 49);
}

.parallaxImage2, .parallaxImage3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.parallaxImage3 {
    background-image: url("images/image3.png");

    height: 750px;
    width: 100vw;

    object-fit: cover;
    object-position: 0 50%;

    /* text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: xx-large;
    letter-spacing: 0.5em;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 50px 0px 50px;
}

.services {
    background-image: url("images/flower.png");
    height: 70vh;
    width: 27vw;
    background-position: center;
    margin-right: 5vw;

    /*text*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.title {
    margin-top: 15vh;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.75em;
    font-size: large;
}

.info {
    margin-top: 15vh;
    font-family: 'EB Garamond', serif;
    letter-spacing: 0.15em;
}

.discover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 1.5vh 10vh 1.5vh 10vh;
    margin-top: 7vh;

    /* text */
    text-align: center;
    color: white;
    font-size: small;
}

.image1 {
    width: 45vw;
    height: 70vh;
}


.testimonial {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    flex-direction: column;
    justify-content: space-between;
}

#names {
    font-size: small;
}

.parallaxImage2 {
    background-image: url("images/image2.png");

    height: 500px;
    width: 90%;

    /* parallax scrolling effect */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
}

.bottombar {
    background-color: rgb(171, 148, 91);
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: row;
}

.address {
    display: flex;
    flex-direction: column;
}

.telephone {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    flex-direction: column;
}

.line {
    border-left: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
}

.consult {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.containerGallery {
    position: relative;
    color: white;
    padding-right: 50px;
}